@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./../fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Pattaya";
  src: url("./../fonts/Pattaya-Regular.ttf");
}
